Source: libwobbly
Priority: extra
Maintainer: Sam Spilsbury <smspillaz@unknown>
Build-Depends: debhelper (>= 8.0.0),
               cdbs,
               cmake,
               libboost1.54-dev |
               libboost1.53-dev |
               libboost1.49-dev |
               libboost1.46-dev |
               libboost-dev
Standards-Version: 3.9.4
Section: libs
Vcs-Git: git://github.com/smspillaz/libwobbly.git

Package: libwobbly-dev
Section: libdevel
Architecture: any
Depends: libwobbly (= ${binary:Version}),
         libboost1.54-dev |
         libboost1.53-dev |
         libboost1.49-dev |
         libboost1.46-dev |
         libboost-dev
Description: Wobbly Mesh Library
 Wobbly Mesh

Package: libwobbly
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wobbly Mesh library
 Wobbly Mesh
