Source: libwobbly
Priority: extra
Maintainer: Sam Spilsbury <sam@endlessm.com>
Build-Depends: debhelper (>= 8.0.0),
               cdbs,
               cmake,
               git
Standards-Version: 3.9.4
Section: libs
Vcs-Git: git://github.com/smspillaz/libwobbly.git

Package: libwobbly-dev
Section: libdevel
Architecture: any
Depends: libwobbly0 (= ${binary:Version}),
Description: Wobbly Mesh Library
 Wobbly Mesh

Package: libwobbly0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wobbly Mesh library
 Wobbly Mesh
