#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	rm -rf obj-${DEB_HOST_MULTIARCH} && \
	mkdir -p obj-${DEB_HOST_MULTIARCH} && \
	cd obj-${DEB_HOST_MULTIARCH} && \
	LC_ALL=C.UTF-8 meson \
	 .. \
	 --buildtype=plain \
	 --prefix=/usr \
	 --sysconfdir=/etc \
	 --localstatedir=/var \
	 --libdir=lib/${DEB_HOST_MULTIARCH} \
	 --libexecdir=lib/${DEB_HOST_MULTIARCH}
